
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: aliceblue;
    height: 2000px;
}
/* sidebar */
aside{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 300px;
    align-items: center;
    position: fixed;
    /* text-align: center; */
  
}

aside a,ul,li{
    text-decoration: none;
    list-style: none;
}


.brand{
    
    text-align: center;
    margin-bottom: 4rem;
    padding: 10px;
    
}

.brand h1 a{
    font-weight: 900;
}


aside ul li {
    margin-bottom: 2rem;
    padding: 20px;
    box-sizing: border-box;
    
}

aside ul li a{
    display: flex;
    background-color: aliceblue;
    padding: 20px;
    
    box-sizing: border-box;
    /* font-size: 1.2rem; */
    
}




