
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: aliceblue;
    /* height: 2000px; */
    overflow-x: hidden;
    
}



/* sidebar */
.con{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 300px;
    align-items: center;
    /* position: fixed; */
    /* text-align: center; */
  
}

.con a,ul,li{
    text-decoration: none;
    list-style: none;
}


.brand{
    
    text-align: center;
    margin-bottom: 4rem;
    padding: 10px;
    
}

.brand h1 a{
    font-size: 2.3rem;
    font-weight: 900;
}


.con ul li {
    
    margin-bottom: 30px;
    box-sizing: border-box;
    
}

.con ul li a{
    display: flex;
    /* background-color: aliceblue; */
    padding: 20px;
    justify-content: left;
    box-sizing: border-box;
    color: #222;
    font-size: 1.2rem;
    font-weight: 700;
    
}
.con ul li a:hover{
background-color: lightgray;
border-radius: 10px;
}

/* end of sidebar */

/* Hamburger Menu*/

.button-menu{
    position: absolute;
    left: 0;
    top :0;
    opacity: 0;
}



/* Responsive Breakpoints */
@media (max-width: 992px) {
.con{
    transform: translateX(-100%);
}
.button-menu{
opacity: 100;
}
.button-menu:hover{
/* background-color: white; */
cursor: pointer;
}

.nav-active{
    margin-top: 50px;
    transform: translateX(0%);
    
}
}
